@import "../../../global.scss";

.form {
  display: flex;
  flex-direction: column;
  position: relative;
  .contact-inputs {
    width: 80%;
    display: flex;

    @include mobile {
      flex-direction: column;
      width: 100%;
    }
  }
  .text {
    width: 80%;
    overflow: hidden;

    @include mobile {
      width: 100%;
    }
  }
}
