.app-menu-flyout {
  background: white;
  width: 55px;
  border: 1px black solid;
  display: none;
}

.app-menu-flyout p {
  margin-left: 5px;
}

.app-menu-flyout--hover {
  background: white;
  width: 55px;
  border: 1px black solid;
  display: inline-block;
  cursor: pointer;
}
